/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('http://fonts.googleapis.com/css?family=Cookie');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #10;
}

p {
  line-height: 2rem;
}
#title{
	font-family: "Amatic SC";
	font-weight: bold;
	font-size: 100px;
}
.sidenav-trigger {
  color: #26a69a;
}
 .context{
		font-size: 25px;
 }

 .context-icons{
	 color: teal;
 }
 
 .card-text{
	color: white;

  font: 100px 'Cookie', Helvetica, sans-serif !important;

  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
 }
 
 #type{
	color: white;

  font: 60px 'Cookie', Helvetica, sans-serif;

  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
 }
 #login-row{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
	text-align: center;
   display: flex;
   align-items: center;
 }
 .login-custom-text{
	vertical-align: middle;
 }
 
 #login-background{
	 height: 1000px !important; 
	 width: 100% !important;
	 background-color: #f44336;
 }
 
 #copyright-text{
	 color: black;
 }
 
.login-text{
	 color: black;
 }

 
 #red-back{
	 width: 100%;
 }
 
 .typed-cursor{
	 opacity: 100;
	 visibility: hidden;
 }
.parallax-container {
    height: 600px !important;
    z-index: -1;
}

	.parallax img {
		max-width: 50%;
        max-height: auto;
		bottom: -20%;
		right: 1000px !important;
        height: auto;
        min-width: 100px;/*Note the px*/
        min-height: 100%;

	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}







