<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Pen Pals</title>


  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/materialize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="shortcut icon" href="#" />
</head>
<body>
 
 <!-- Navigation Bar --
	<ul>
		<li><a class="active" href="index.html">Home</a></li>
		<li><a href="#login">Login</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About</a></li>
	</ul>
 ------->
<!-- Page introduction box -->
	<div id="start-container">
		<div class="section no-pad-bot">
			<div class="row">
                <h1 id="title" class="header center white-text accent-2">Pen Pals</h1>
                <div class="row center">	
                    <h1 id="heading"><span id="type" class="typed Typewriter__wrapper"></span></h1>                  
				</div>
                <div class="row">
				
				<div id="create-card" class="card large over hoverable horiz-center">
						<div id="cont-home" class="card-content">
							<div id="register">
								<div class="row">
								
										<form id="register_form" method="post">
											
											<div id="reg1" class="col">
												<div id="regp1">
													<span id="desc-header" class="card-title black-text">Add description</span>
											<div class="input-field col s12">
												<textarea id="descr-field" class="materialize-textarea"></textarea>
												<label for="descr-field">I love books...</label>
											</div>
												<button id="descr_button" class="btn waves-effect waves-light secondary-color" type="button" name="button" onclick="submit_descr();" href="#pic">Next</button>
											</div>
											</div>
											<div id="reg2" class="col">
												<div id="regp2">
													<span id="desc-header" class="card-title grey-text text-darken-4">Choose profile picture<i id="close-home" class="material-icons secondary-item-color">arrow_back</i></span>
													<span id="reg_error2" class="card-title red-text"><i id="error" class="error material-icons secondary-item-color">error_outline</i> Empty field(s)<i id="close2-home" class="material-icons secondary-item-color">arrow_back</i></span>
													<div class="file-field input-field">
													  <div class="btn waves-effect waves-light secondary-color">
														<span>File</span>
														<input type="file">
													  </div>
													  <div class="file-path-wrapper">
														<input id="upload-file" class="file-path validate" type="text">
													  </div>
													</div>
													<div class="input-field col m12">
														<button id="reg_button" class="btn waves-effect waves-light secondary-color" type="button" name="button" onclick="submit_descr();" value="Register">Submit</button>
													</div>
												</div>
											</div>
											<div id="reg3" class="col">
												<div id="regp3">
													<span id="desc-header" class="card-title grey-text text-darken-4">Add books to your profile<i id="close-home2" class="material-icons secondary-item-color">arrow_back</i></span>
													<span id="reg_error2" class="card-title red-text"><i id="error" class="error material-icons secondary-item-color">error_outline</i> Empty field(s)<i id="close-home" class="material-icons secondary-item-color">arrow_back</i></span>
													<div class="row login-row">
															
													</div>
											</div>

										</form>
									
								</div>
							</div>
							
						</div> 
					</div>
				
				
				
				<!--
					<div id="main-card" class="card large over hoverable horiz-center">

						<div id="cont-home" class="card-content">
							<div id="register">
								<div class="row">
								
										<form id="register_form" method="post">
											
											<div id="reg1" class="col">
												<div id="regp1">
													<span id="desc-header" class="card-title black-text">Add description</span>
											<div class="input-field col s12">
												<textarea id="descr-field" class="materialize-textarea"></textarea>
												<label for="descr-field">I love books...</label>
											</div>
											<button id="descr_button" class="btn waves-effect waves-light secondary-color" type="button" name="button" onclick="submit_descr();" href="#pic">Next</button>
											</div>
											<div id="reg2" class="col">
												<div id="regp2">
													<span id="reg-header2" class="card-title grey-text text-darken-4">Register<i id="close-home" class="material-icons secondary-item-color">arrow_back</i></span>
													<span id="reg_error2" class="card-title red-text"><i id="error" class="error material-icons secondary-item-color">error_outline</i> Empty field(s)<i id="close2-home" class="material-icons secondary-item-color">arrow_back</i></span>
													<div class="row login-row">
														<h2 class="home-text" id="type">No matches yet... you should recieve an email to</h2> 
														<h2 class="secondary-item-color" >{{user.email}}</h2>
														<h2 class="home-text" id="type"> when you get your first match, stay tuned!</h2>
													</div>
													<div class="input-field col m12">
														<button id="reg_button" class="btn waves-effect waves-light secondary-color" type="button" name="button" onclick="reg_continue();" value="Register">Register</button>
													</div>
												</div>
											</div>
											<div id="reg3" class="col">
												<div id="regp3">
													<span id="reg-header2" class="card-title grey-text text-darken-4">Register<i id="close3-home" class="material-icons secondary-item-color">arrow_back</i></span>
													<span id="reg_error2" class="card-title red-text"><i id="error" class="error material-icons secondary-item-color">error_outline</i> Empty field(s)<i id="close-home" class="material-icons secondary-item-color">arrow_back</i></span>
													<div class="row login-row">
														<div class="input-field col">
															<input id="first_name" type="text" name="first" class="validate">
															<label for="first_name">First Name</label>
														</div>
														<div class="input-field col">
															<input id="last_name" type="text" name="last" class="validate">
															<label for="last_name">Last Name</label>
														</div>
													</div>
													<div class="row login-row">
														<div class="input-field col m12">
															<input id="username" type="text" name="username" class="login-text">
															<label for="username">Display Name</label>
														</div>
													</div>
													<div class="row login-row">
														<div class="input-field col s12">
															<input id="address1" type="text" name="address1">
															<label for="address1">Address line 1 (Street address, P.O. box, company name)</label>
														</div>
													</div>
													<div class="row login-row">
														<div class="input-field col s12">
															<input id="address2" type="text" name="address2">
															<label for="address2">Address line 2 (Apartment, suite , unit, building, floor, etc.)</label>
														</div>
													</div>
													<div class="input-field col m12">
														<button id="reg_button" class="btn waves-effect waves-light secondary-color" type="button" name="button" onclick="submit_register_form();" value="Register">Register</button>
													</div>
												</div>
											</div>

										</form>
									
								</div>
							</div>
							<div id="login">
								<div class="row">
									<div class="login-container">
										<form id="login_form" method="post">
											<div class = "col">
												<span id="login-header" class="card-title black-text">Login</span>
												<span id="login_error" class="card-title red-text"><i id="error" class="error material-icons secondary-item-color">error_outline</i> Invalid email address</span>
												<div class="input-field col m12">
													<input id="loginUsername" type="email" name="loginEmail" class="login-text">
													<label for="loginUsername">Email</label>
												</div>
												<div class="input-field col m12">
													<input id="loginPassword" type="password" name="loginPassword" class="validate login-text">                                   
													<label for="loginPassword">Password</label>
												</div>
                                                <input id="dog" type="password" name="button" value="Login" style="visibility: hidden;">
												<div class="input-field col m12">
                                                    <button id="login_button" class="btn waves-effect waves-light secondary-color" type="button" name="button" onclick="submit_login_form();" value="Login">Login</button>
												</div>
											</div>
										</form>  
									</div>
								</div>
							</div>
						</div> 
					</div>-->
				</div>
			</div>
		</div>
	
	<a href="{{ url_for('auth.logout') }}">log out</a>
    <a href="{{ url_for('auth.db') }}">database</a>
        
<!-- Footer Section -->
	<footer class="page-footer white">	
		<div class="footer-copyright">
			<p id="copyright">copyrighted mother effers</p>
		</div>
	</footer>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/materialize.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/init.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/typed.js') }}"></script>

<script type="text/javascript">
function submit_descr()
{
	$("#cont-home").animate({right: '+=500px'},450);
}
</script>  

<script> 
$(document).ready(function(){

	M.textareaAutoResize($('#descr-field'));
	$("#close-home").click(function(){
        $("#cont-home").animate({right: '-=500px'},450);
		$("#reg_error").css("display", "none");
		$("#reg-header").css("display", "block");
    });
	$("#close-home2").click(function(){
        $("#cont-home").animate({right: '-=500px'},450);
		$("#reg_error").css("display", "none");
		$("#reg-header").css("display", "block");
    });
	$("#description-tab").click(function(){
        $("#cont-home").animate({right: '-=500px'},450);
		$("#reg_error").css("display", "none");
		$("#reg-header").css("display", "block");
    });
});

</script>
  </body>
</html>
