<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Pen Pals</title>


  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/materialize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
 
 <!-- Navigation Bar --
	<ul>
		<li><a class="active" href="index.html">Home</a></li>
		<li><a href="#login">Login</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About</a></li>
	</ul>
 ------->
<!-- Page introduction box -->
<div class="row">
<div class="col s1">
<h4>email</h4>
</div>
<div class="col s1">
<h4>username</h4>
</div>
<div class="col s1">
<h4>first</h4>
</div>
<div class="col s1">
<h4>last</h4>
</div>
<div class="col s1">
<h4>address1</h4>
</div>
<div class="col s1">
<h4>address2</h4>
</div>
<div class="col s1">
<h4>genres</h4>
</div>
</div>
{% for item in data %}
<div class="row">
<div class="col s1">
<p>{{item.email}}</p>
</div>
<div class="col s1">
<p>{{item.username}}</p>
</div>
<div class="col s1">
<p>{{item.first}}</p>
</div>
<div class="col s1">
<p>{{item.last}}</p>
</div>
<div class="col s1">
<p>{{item.address_line1}}</p>
</div>
<div class="col s1">
<p>{{item.address_line2}}</p>
</div>
<div class="col s1">
<p>{{item.genres}}</p>
</div>

</div>
{% endfor %}
<form class="container" method="post">
<input id="email" type="email" class="validate" name="email">
<button class="btn waves-effect waves-light" type="submit" name="button">new email</button>
</form>
	<a href="{{url_for('auth.logout')}}">log out</a>
    <a href="{{url_for('main.bio')}}">View Bio</a>
    <a href="{{url_for('main.create_bio')}}">Create Bio</a>
    <a href="{{url_for('main.home')}}">Home</a>
	<a href="{{url_for('main.search')}}">Search</a>
        
<!-- Footer Section -->
	<footer class="page-footer white">	
		<div class="footer-copyright">
			<p id="copyright">copyrighted mother effers</p>
		</div>
	</footer>


  <!--  Scripts-->
  <script type="text/javascript" src= "{{ url_for('static',filename='js/materialize.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/init.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/typed.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>
</html>
