<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Pen Pals</title>


  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/materialize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
 
 <!-- Navigation Bar --
	<ul>
		<li><a class="active" href="index.html">Home</a></li>
		<li><a href="#login">Login</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About</a></li>
	</ul>
 ------->
<!-- Page introduction box -->
	<div id="home-back" >
		<div class="section no-pad-bot">
			<h1 id="title" class="header center white-text">Home</h1>
            <div class="row center">	
                <h1 id="heading"><span id="type" class="typed Typewriter__wrapper"></span><span class="Typewriter__cursor">|</span></h1>                  
			</div>
			<div class="container">
				<br><br>
				<h2 class="home-text" id="type">No matches yet... you should recieve an email to</h2> 
                <h2 class="secondary-item-color" >{{user.email}}</h2>
                <h2 class="home-text" id="type"> when you get your first match, stay tuned!</h2>
			</div>
		</div>
	</div>
	
	<a href="{{ url_for('auth.logout') }}">log out</a>
    <a href="{{ url_for('auth.db') }}">database</a>
    <a href="{{ url_for('main.bio') }}">view bio</a>


 {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Footer Section -->
	<footer class="page-footer white">	
		<div class="footer-copyright">
			<p id="copyright">copyrighted mother effers</p>
		</div>
	</footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/materialize.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/init.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/typed.js') }}"></script>
  <script type="text/javascript">
	var typed = new Typed(".typed", {
		strings: ["^250 discuss books", "^250 share your favorites", "^250 meet someone new", "^250 be encouraged to read"],
		typeSpeed: 40,
		backSpeed: 20,
		backDelay: 500,
		loop: true,
		fadeOut: true
	});
    
</script>
  </body>
</html>
