/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('http://fonts.googleapis.com/css?family=Cookie');

*, *:after, *:before {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #10;
}

p {
  line-height: 2rem;
}
#title{
	font-family: "Amatic SC";
	font-weight: bold;
	font-size: 100px;

}
.large{
    width: 500px;
}

#bio-red{
	height: 2000px !important;
	background-color: #f44336;
}

#start-container{
	height: 1000px !important;

}


.primary-color{
	background-color: #5cdb95;
    /*background-image: url({{ url_for('static', filename='images/forest.jpg') }})*/
}

.secondary-color{
	background-color: #05386b;
}

.btn:hover, .btn-large:hover {
    background-color: #5cdb95;
}

#bio-container{
	background-color: white;
	height: 1000px;
	border-radius: 25px;
}

.light-red{
    background-color: #f37a7a;
}
.sidenav-trigger {
  color: #26a69a;
}
 .context{
		font-size: 25px;
 }

 .context-icons{
	 color: teal;
 }
 
 .card-text{
    color: white;
    top-margin: 10px;
    font: 100px 'Cookie', Helvetica, sans-serif !important;

    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
 }
 
 #type{
    color: white;
    height: 65px;
    left: 50px;
    font: 60px 'Cookie', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
 }
 
 #typed-header{
    height: 65px;
 }
 
 .Typewriter__cursor{
     color: transparent;
 }

 .login-custom-text{
	vertical-align: middle;
 }

 .login-background{
	background-color:  #2396d6;
 }
 
 #copyright-text{
	 color: black;
 }
 
.login-text{
	 color: black;
     width: 400px !important;
 }

 
 #red-back{
	 width: 100%;
 }
 
 
 .typed-cursor{
	 opacity: 100;
	 visibility: hidden;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#copyright{
	color: black;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.fixed{
    position: fixed;
}

.continue{
    margin-top: 30px;
    margin-left: 10px;
}

#close{
    margin-left: 305px;
    cursor:pointer;
}

.login-row{
    margin-bottom: 0px !important;
}

#first_name{
    width: 190px;
}

#last_name{
    width: 185px;
}

#regUsername{
	width: 400px;
}

#address1{
	width: 400px;
}

#address2{
	width: 400px;
}

#cont{
    position: relative !important;       
    overflow: visible !important;
	padding-top: 0px;
}

.register{
	margin-left: 10px;
}
 
.over{
    overflow: hidden !important;
}


.login-container{
    width: 1000px;
    overflow: visible !important;
}


#reg1{
    width: 500px;
}

#reg2{
    width: 500px;
}

.start-1-card {
    width: 700px;
}

.reg:hover .overlay {
  width: 100%;
  left: 0;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}






