/* Custom Stylesheet */
/**
 * https://www.canva.com/learn/website-color-schemes/
 */
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('http://fonts.googleapis.com/css?family=Cookie');

:root{
    --primary-color: #caebf2;
    --secondary-color: #ff3b3f;
    --carbon: #A9A9A9;
    --neutral: #efefef;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #10;
}

p {
  line-height: 2rem;
}

#heading{
    height: 75px;
}


#title{
	font-family: "Amatic SC";
	font-weight: bold;
	font-size: 100px;
    color: var(--carbon);
}
.large{
    width: 500px;
}

#bio-red{
	height: 2000px !important;
	background-color: #f44336;
}

#start-container{
	height: 1000px !important;
    background-color: var(--primary-color);
}

#icon-container{
	height: 700px !important;
    background-color: var(--primary-color);
}

.material-icons{
    color: var(--secondary-color);
}

.icon-header{
    color: black;
}

.icon-text{
    color: black;
}

#home-back{
    background-color: var(--primary-color);
    height: 1000px;
}

#old-type{
    color: white;
    height: 65px;
    left: 50px;
    font: 60px 'Cookie', Helvetica, sans-serif;
}

.home-text{
    color: var(--carbon);
}

.primary-color{
	background-color: var(--primary-color);
    /*background-image: url({{ url_for('static', filename='images/forest.jpg') }})*/
}

.secondary-color{
	background-color: var(--secondary-color);
}

.secondary-item-color{
	color: var(--secondary-color);
}

.btn:hover, .btn-large:hover {
    background-color: #ff8f91;
}

.btn:focus{
	background-color: var(--secondary-color);
}

#bio-container{
	background-color: white;
	height: 1000px;
	border-radius: 25px;
}

.light-red{
    background-color: #f37a7a;
}
.sidenav-trigger {
  color: #26a69a;
}
 .context{
		font-size: 25px;
 }

 .context-icons{
	 color: teal;
 }
 
 .card-text{
    color: white;
    top-margin: 10px;
    font: 100px 'Cookie', Helvetica, sans-serif !important;

    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
 }
 
 #type{
    color: white;
    font: 60px 'Cookie', Helvetica, sans-serif;
    height: 100px;
 }
 
 .typed{
    color: var(--secondary-color);
 }
 
 #typed-header{
    height: 65px;
 }
 
 .Typewriter__cursor{
    height: 100px;
    color: transparent;
 }

 .login-custom-text{
	vertical-align: middle;
 }
 
 .horiz-center{
    margin: auto;
 }

 
 .tabs .indicator {
    background-color: white;
} /*Color of underline*/

 .login-background{
    width: 620px !important;
	background-color:  #2396d6;
 }
 
 #copyright-text{
	 color: black;
 }
 
.login-text{
	 color: black;
     width: 400px !important;
 }
 
 #invalid-login{
	display: none;
 }
 
 .error{
	margin-top: 5px;
 }

 
 #red-back{
	 width: 100%;
 }
 
 
 .typed-cursor{
	 opacity: 100;
	 color: transparent;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#copyright{
	color: black;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.fixed{
    position: fixed;
}

.continue{
    margin-top: 30px;
    margin-left: 10px;
}

#close{
    margin-left: 305px;
    cursor:pointer;
}

.login-row-old{
    padding-top: 150px;
}

.login-row{
    margin-bottom: 0px !important;
}

#first_name{
    width: 190px;
}

#last_name{
    width: 185px;
}

#regUsername{
	width: 400px;
}

#address1{
	width: 400px;
}

#address2{
	width: 400px;
}

#cont{
    position: relative !important;       
    overflow: visible !important;
	padding-top: 0px;
}

.register{
	margin-left: 10px;
}
 
.over{
    overflow: hidden !important;
}


.login-container{
    width: 1000px;
    overflow: visible !important;
}


#reg1{
    width: 500px;
}

#reg2{
    width: 500px;
}

.start-1-card {
    width: 700px;
}



.reg:hover .overlay {
  width: 100%;
  left: 0;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}






