
<!--{% block content %}-->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Pen Pals</title>


  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/materialize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
 
 <!-- Navigation Bar --
	<ul>
		<li><a class="active" href="index.html">Home</a></li>
		<li><a href="#login">Login</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About</a></li>
	</ul>
	------->
 
<!-- Page introduction box -->
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<h1 id="title" class="header center white-text accent-2">Pen Pals</h1>
				<div class="row center">
					
                    <h1 id="heading"><span id="type" class=" typed Typewriter__wrapper">terJS</span><span class="Typewriter__cursor">|</span></h1>
                    
				</div>
				<br><br>
			</div>
		</div>
    <div class="parallax red"></div>
	</div>

	 <!-- Login Section -->
	<a id="login"></a>
	<div class="row">
		<div class="col s12 m6">
			<div class="card large login-background hoverable">
				<div class="row center login-row">
					<span class="card-title activator white-text card-text">Login</span>
				</div>
				<div class="card-reveal">
					<form class="container" method="post">
						<br>
						<div class = "row">
							<span class="card-title grey-text text-darken-4">Login<i class="material-icons right">close</i></span>
								<div class="input-field col m12">
									<input id="loginUsername" type="email" name="loginEmail" class="login-text">
									<label for="loginUsername">Email</label>
								</div>
								<div class="input-field col m12">
									<input id="loginPassword" type="password" name="loginPassword" class="validate login-text">
									<label for="loginPassword">Password</label>
								</div>
				
							<div class="input-field col m12">
							<button class="btn waves-effect waves-light" type="submit" name="button" value="Login">Login</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card large login-background hoverable">
				<div class="row center login-row">
					<span class="card-title activator white-text card-text">Register</span>
				</div>
				<div class="card-reveal">
					<form class="container" method="post">
						<br>
						<div class = "row">
							<span class="card-title grey-text text-darken-4">Register<i class="material-icons right">close</i></span>
							
							
							
							<div class="input-field col m12">
								<label for="username">Email</label>
								<input id="username" type="email" name="regEmail" class="validate login-text">
							</div>
							<div class="input-field col m12">
								<label for="password">Password</label>
								<input id="password" type="password" name="regPassword" class="validate login-text">
							</div>
							<!--
							<div class="input-field col m12">
								<input id="registerPassword2" type="password" class="validate login-text">
								<label for="registerPassword2">Repeat Password</label>
							</div>
							-->
							<div class="input-field col m12">
							<button class="btn waves-effect waves-light" type="submit" name="button" value="Register" >Register</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	 </div>

	
<!-- Icon Section -->
	<div class="container">
		<div class="row">
			<div class="col s3">
				<div class="icon-block">
					<h2 class="center context-icons"><i class="material-icons">face</i></h2>
					<h5 class="center">Create a profile</h5>
					<p class="context light">Fill your profile with your favorite books, authors and genres. Choose up to 10 books you want to share.</p>
				</div>
			</div>
			<div class="col s3">
				<div class="icon-block">
					<h2 class="center context-icons"><i class="material-icons">contact_mail</i></h2>
					<h5 class="center">Get matched</h5>
					<p class="context light">We will match you with another book lover who shares your interests.</p>
				</div>
			</div>
			<div class="col s3">
				<div class="icon-block">
				<h2 class="center context-icons"><i class="material-icons">chat</i></h2>
				<h5 class="center">Get to know your match</h5>
				<p class="context light">Start talking to your new match through our built-in chat system.</p>
			</div>
			</div>
			<div class="col s3">
				<div class="icon-block">
					<h2 class="center context-icons"><i class="material-icons">autorenew</i></h2>
					<h5 class="center">Exchange books</h5>
					<p class="context light">Both you and your match will choose from your lists of sharable books and send eachother the book of your choosing.</p>
				</div>
			</div>
		</div>
	</div>
         
<!-- Footer Section -->
	<footer class="page-footer white">	
		<div class="footer-copyright">
			<p id="copyright">copyrighted mother effers</p>
		</div>
	</footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/materialize.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/init.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/typed.js') }}"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='js/wow.min.js') }}"></script>
  <script type="text/javascript">
	var typed = new Typed(".typed", {
		strings: ["^250 discuss books", "^250 share your favorites", "^250 meet someone new", "^250 be encouraged to read"],
		typeSpeed: 40,
		backSpeed: 20,
		backDelay: 500,
		loop: true,
		fadeOut: true
	});

  </script>
  </body>
</html>

<!--{% endblock %}-->
